name: Compile check

on:
  push:
    branches:
      - main
    paths:
      - "src/**.c"
      - "src/**.h"
      - "!src/parser.c"
  pull_request:
    paths:
      - "src/**.c"
      - "src/**.h"
      - "!src/parser.c"

jobs:
  compile_check:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            cc: cl
            clags: "/std:c11 /Wall /WX"

          - os: macos-latest
            cc: clang
            cflags: "-std=c11 -Wall -Wextra -Werror -Wstrict-prototypes -Wuninitialized"

          - os: ubuntu-latest
            cc: gcc
            cflags: "-std=c11 -Wall -Wextra -Werror -Wstrict-prototypes -Wmaybe-uninitialized"

    runs-on: ${{ matrix.os }}

    env:
      CC: ${{ matrix.cc }}
      CFLAGS: ${{ matrix.cflags }}

    name: Parser compilation linting
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up tree-sitter
        uses: tree-sitter/setup-action/cli@v1
        with:
          tree-sitter-ref: v0.25.9

      - name: MSVC setup
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build the grammar
        run: tree-sitter build
